th, td {
    border-bottom: 1px solid #ddd;
    width: 10em;
}
th {
    height: 3em;
    text-align: left;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabc {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
